.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #36454f;
  height: 100vh;
}

.updateTitle {
  color: white;
  margin-bottom: 30px;
}
.updateForm {
  display: flex;
  justify-content: space-between;
  min-width: 841.22px;
  min-height: 720.26px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 30px 30px;
  background-color: white;
}

.updateStudentsSection {
  border-right: 1px solid lightgray;
  padding-right: 50px;
}
.updateValuesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 466.31px;
  min-height: 624.26px;
}
.updateCheckboxContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

