.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightcoral;
  height: 100vh;
  width: 100vw;
  /* border: 3px solid black; */
}

.updateTitle {
}
.updateForm {
  display: flex;
  justify-content: space-between;
  min-width: 841.22px;
  min-height: 720.26px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  padding: 30px 30px;
  background-color: white;
}

.updateStudentsSection {
  border-right: 1px solid lightgray;
  padding-right: 50px;
}
.updateValuesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 466.31px;
  min-height: 624.26px;
}
