.adminScheduleContainer {
  height: 100vh;

  padding: 0 50px;
  background-color: #36454f;
}
.adminScheduleTitle {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
.adminScheduleDates {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.adminTable {
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

}

.adminIconArrows {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  width: 150px;
}