.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #36454f;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.updateTitleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.updateArrowIcon {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 0 20px;
}
.updateTitle {
  display: flex;
  justify-content: center;
  margin: 0;
}
.updateForm {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 30px 30px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 50px;
}

.updateStudentsSection {
  border-right: 1px solid lightgray;
  padding-right: 50px;
}
.updateValuesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 466.31px;
  min-height: 624.26px;
}
.updateCheckboxContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.updateCheckbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .updateForm {
    min-width: 0;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .updateValuesSection > h3 {
    font-size: 14px;
  }
  .updateValuesSection {
    min-width: 0;
    min-height: 0;
  }
  .updateCheckboxContainer * {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .updateForm > * {
    width: 50%;
  }
  .updateStudentsSection {
    width: 300px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 600px) {
  .updateForm {
    justify-content: center;
    max-width: 90vw;
    margin-bottom: 100px;
  }
  .updateStudentsSection {
    padding: 0 20px 0 0;
    width: 190px;
  }
  .updateValuesSection > h3 {
    font-size: 12px;
  }
  .updateCheckboxContainer {
    width: 50%;
  }
  .updateCheckboxContainer > h3 {
    font-size: 12px;
  }
  .updateCheckboxContainer > * {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
